/* TODO: Font Face */

// Open Sans
@font-face {
  font-family: "open_sansregular";
  src: url("#{$url-base}opensans-regular-webfont.woff2") format("woff2"),
    url("#{$url-base}opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinssemibold";
  src: url("#{$url-base}poppins-semibold-webfont.woff2") format("woff2"),
    url("#{$url-base}poppins-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
